# IntelliJ IDEA project files
.idea/

# Compilation output directories
bin/
out/
*.class

# IntelliJ project files
*.iml

# Ignore all ZIP files
*.zip

# Ignore all JAR files except biuoop-1.4.jar
*.jar
!biuoop-1.4.jar

# Checkstyle configuration files
checkstyle.xml
checkstyle-*.jar

# Log files
*.log

# Temporary files
tmp/
temp/

# System files
.DS_Store
Thumbs.db
